nav{background:var(--primary);text-align:center;padding:10px}
nav button{color:var(--white);background:var(--primary-hover);border:none;margin:5px 3px;padding:10px 15px;border-radius:3px}
nav button:hover{background:var(--white);color:var(--primary)}
